version: "3"
services:
  web:
    build: .
    ports:
      - "8080:8080"
    env_file:
      - .env
      - .smtp
    depends_on:
      - postgres
    volumes:
      - ./:/app
    command: bash -c 'while !</dev/tcp/postgres/5432; do sleep 1; done; go run main.go'
  postgres:
    image: postgres
    env_file: .env
